body {
    background: #DDF2FC;
    color: rgba(70, 74, 78, 0.64)
}

.submit-button:hover, .go-back-button:hover{
    color: #fff !important;
}

img{
    box-shadow: 10px 10px 5px #888888;
}
.img-text{
    margin-top: 8px;
}
.button {
    color: rgba(70, 74, 78, 0.64)
}

